.App {
  /*text-align: center;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg-base {
  background: #50b5b0!important;
  color: #00b5ad!important;
  border-color: #00b5ad!important;
}
.bg-base.menu .item{
  color: #fff!important;
}
.bg-img-base{
  background-image: url("images/bg_op.png");
  background-repeat: repeat ;
}
.jodit-workplace{
  min-height: 300px!important;
}
.chat-border{
  border-radius: 10px!important;
  max-width: 70%!important;
  padding: 0 10px 5px 10px!important
}
.chat-over-frame{
  background-color: #e4e4e4;
  height: 400px;
  overflow: auto;
  padding: 1em;
}
.chat-bg-admin{
  background-color: #61dafb!important;
}